@font-face {
  font-family: 'icomoon';
  src:
          url('/weather/static/fonts/weather-icons/fonts/icomoon.ttf?vr8tzc') format('truetype'),
          url('/weather/static/fonts/weather-icons/fonts/icomoon.woff?vr8tzc') format('woff'),
          url('/weather/static/fonts/weather-icons/fonts/icomoon.svg?vr8tzc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-huge {
  font-size: 120px;
}

// Icomoon Icons

.icon-heart:before {
  content: "\e928";
}
.icon-cloud:before {
  content: "\e900";
}
.icon-cloud-sun:before {
  content: "\e901";
}
.icon-cloud-moon:before {
  content: "\e902";
}
.icon-cloud-rain:before {
  content: "\e903";
}
.icon-cloud-sun-rain:before {
  content: "\e904";
}
.icon-cloud-moon-rain:before {
  content: "\e905";
}
.icon-cloud-snow:before {
  content: "\e906";
}
.icon-cloud-sun-snow:before {
  content: "\e907";
}
.icon-cloud-moon-snow:before {
  content: "\e908";
}
.icon-cloud-lightning:before {
  content: "\e909";
}
.icon-cloud-sun-lightning:before {
  content: "\e90a";
}
.icon-cloud-moon-lightning:before {
  content: "\e90b";
}
.icon-cloud-wind:before {
  content: "\e90c";
}
.icon-cloud-raindrops:before {
  content: "\e90d";
}
.icon-cloud-sun-raindrops:before {
  content: "\e90e";
}
.icon-cloud-moon-raindrops:before {
  content: "\e90f";
}
.icon-cloud-snowflakes:before {
  content: "\e910";
}
.icon-cloud-sun-snowflakes:before {
  content: "\e911";
}
.icon-cloud-moon-snowflakes:before {
  content: "\e912";
}
.icon-clouds:before {
  content: "\e913";
}
.icon-cloud-fog:before {
  content: "\e914";
}
.icon-moon-stars:before {
  content: "\e915";
}
.icon-sun:before {
  content: "\e916";
}
.icon-sunrise:before {
  content: "\e917";
}
.icon-sunset:before {
  content: "\e918";
}
.icon-sunset2:before {
  content: "\e919";
}
.icon-rainbow:before {
  content: "\e91a";
}
.icon-umbrella:before {
  content: "\e91b";
}
.icon-raindrops:before {
  content: "\e91c";
}
.icon-degree-fahrenheit:before {
  content: "\e91d";
}
.icon-degree-celsius:before {
  content: "\e91e";
}
.icon-thermometer:before {
  content: "\e91f";
}
.icon-thermometer-low:before {
  content: "\e920";
}
.icon-thermometer-quarter:before {
  content: "\e921";
}
.icon-thermometer-half:before {
  content: "\e922";
}
.icon-thermometer-three-quarters:before {
  content: "\e923";
}
.icon-thermometer-full:before {
  content: "\e924";
}
.icon-caret-down:before {
  content: "\e927";
}
.icon-caret-up:before {
  content: "\e926";
}
.icon-quotes-left:before {
  content: "\e925";
}

